
        <div class="row">
            <div class="col-8">

                <h4>Titulos e Legendas</h4>
                <div class="form-group row">
                    <label for="display-modal-graph-title" class="col-sm-2 col-form-label col-form-label-sm">Titulo
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="display-modal-graph-title">
                    </div>
                </div><!-- /form-group row -->
                <div class="form-group row">
                    <label for="display-modal-graph-subtitle" class="col-sm-2 col-form-label col-form-label-sm">Subtitulo
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="display-modal-graph-subtitle">
                    </div>
                </div><!-- /form-group row -->
                <div class="form-group row">
                    <label for="display-modal-graph-x-axis" class="col-sm-2 col-form-label col-form-label-sm">Eixo-X
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="display-modal-graph-x-axis">
                    </div>
                </div><!-- /form-group row -->
                <div class="form-group row">
                    <label for="display-modal-graph-y-axis" class="col-sm-2 col-form-label col-form-label-sm">Eixo-Y
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="display-modal-graph-y-axis">
                    </div>
                </div><!-- /form-group row -->
            </div> <!-- /col-8 -->

            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <h4>Grelha</h4>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="display-modal-graph-grid-x" value="x-axis">
                            <label class="form-check-label" for="display-modal-graph-grid-x">Eixo X
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="display-modal-graph-grid-y" value="y-axis">
                            <label class="form-check-label" for="display-modal-graph-grid-y">Eixo Y
                            </label>
                        </div>
                    </div> <!-- /col -->
                </div> <!-- /row -->

                <br>

                <div class="row">
                    <div class="col">
                        <h4>Legenda</h4>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="display-modal-graph-show-legend">
                            <label class="form-check-label" for="display-modal-graph-show-legend">Mostrar Legenda
                            </label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="display-modal-graph-legend-position" id="display-modal-graph-legend-left" value="left">
                            <label class="form-check-label" for="display-modal-graph-legend-left">Esquerda
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="display-modal-graph-legend-position" id="display-modal-graph-legend-right" value="right">
                            <label class="form-check-label" for="display-modal-graph-legend-right">Direita
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="display-modal-graph-legend-position" id="display-modal-graph-legend-up" value="top">
                            <label class="form-check-label" for="display-modal-graph-legend-up">Topo
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="display-modal-graph-legend-position" id="display-modal-graph-legend-down" value="bottom">
                            <label class="form-check-label" for="display-modal-graph-legend-down">Baixo
                            </label>
                        </div> 
                    </div> <!-- /col -->
                </div> <!-- /row -->
            </div> <!-- /col-4 -->
        </div> <!-- /row-->     