
.full-height {
    height: 100%;
}

/* ********************** */
/*  ADMINLTE OVERRIDES    */
/* ********************** */

.sub-menu-right.dropdown-submenu > .dropdown-menu {
    left: -100% !important;
    right: 100% !important;
}

/**
    adding a color to card other than light => dropdown items text color = light
*/
.dropdown-item {
    color: #343a40 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.dropdown-item > a {
    color: #343a40 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}




/* *********************** */
/*  EDITABLE COMPONENTS    */
/* *********************** */

/* MAIN */

.editable-component {
    display: none;
}

.non-editable-component {
    display: inline;
}



/* *********************** */
/*  LAYOUT CHOICE MODAL    */
/* *********************** */

.layout-choice{
    max-width: 48px;
}

.layout-choice:hover {
    border-style: dashed;
    border-width: thin;
    background-color: #ffe3e3;
    border-color: red;
    transform: scale(1.1);
    transition: 500ms linear;
}

.layout-choice:active {
    border-style: dashed;
    border-width: thin;
    background-color: #CCFF66;
    border-color: green;
    transform: scale(1.2);
    transition: 200ms linear; 
}

/* *********************** */
/*  TABLES    */
/* *********************** */

/* selected cell */
.selected-cell {
    background-color: blue;
    color: white;
}


/* *********************** */
/*  DISPLAY MODAL    */
/* *********************** */

.display-modal-type-selection-btn { 
   /* color: #333;
    width: auto;
    text-align: center;
    padding: 0 10px;
    background: #f0f0f0;
    line-height: 1.5em;
    height: auto;*/
}

.display-modal-type-selection-btn.active {
    background: #ea0000 !important;
    color: #fff !important;
    opacity: 1.0;
}

.display-modal-type-selection-btn.not-active {
    opacity: 0.5;
}