
.full-height {
    height: 100%;
}


.clickable{
    cursor: pointer;   
}

/* ********************** */
/*  ADMINLTE OVERRIDES    */
/* ********************** */

.sub-menu-right.dropdown-submenu > .dropdown-menu {
    left: -150% !important;
    right: 100% !important;
}

/**
    adding a color to card other than light => dropdown items text color = light
*/
.dropdown-item {
    color: #343a40 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.dropdown-item > a {
    color: #343a40 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}



/* *********************** */
/*  EDITABLE COMPONENTS    */
/* *********************** */

/* MAIN */

.editable-component {
    display: none;
}

.non-editable-component {
    display: inline;
}



/* *********************** */
/*  LAYOUT CHOICE MODAL    */
/* *********************** */

.layout-choice{
    max-width: 48px;
}

.layout-choice:hover {
    border-style: dashed;
    border-width: thin;
    background-color: #ffe3e3;
    border-color: red;
    transform: scale(1.1);
    transition: 500ms linear;
}

.layout-choice:active {
    border-style: dashed;
    border-width: thin;
    background-color: #CCFF66;
    border-color: green;
    transform: scale(1.2);
    transition: 200ms linear; 
}

/* *********************** */
/*  TABLES    */
/* *********************** */

/* selected cell */
.selected-cell {
    background-color: blue;
    color: white;
}


/* *********************** */
/*  EDIT COMPONENT  MODAL  */
/* *********************** */


/* MAIN TAB */

/*.nav>li>a:focus, .nav>li>a:hover{background: transparent!important;}*/
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}

.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    /*margin: 20px auto 26px;*/
    margin: auto;
    border: none;
    z-index: 0;
    /*
    background-color: #EFEFEF;
    border: solid;
    border-radius: 10px;    
    */
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    top: 15px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #D6DA28;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    /*width: 18%;*/
    text-align: center;
    float: none;
    margin-right: 60px;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #D6DA28;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #D6DA28;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
    color: #D6DA28;
}
.process-model li i {
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 32px;
    font-size: 16px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #D6DA28;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}


@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}

/* DISPLAY SELECTION */

img.img-vis {
    outline: 2px dotted black;
}

img.img-vis-selected {
    outline: 4px solid red;    
}

img.img-zoom {
   /* width: 100%;
    height: 200px;*/   
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;    
}

.img-transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

/* DISPLAY */
.collapse-header-display {
    background-color: rgb(228, 228, 224);
    font-weight: bold;
}


/* *********************** */
/*  ZOOM MODAL    */
/* *********************** */
.zoom-modal-dialog {
    max-width: 90%;
    /*
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    */
    height: 90vh;
    display: flex;
}
