{% load static %}

<!-- DATA SOURCE MODAL -->
<div class="modal" id="data-source-modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Fonte de Dados</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div><!-- /modal-header -->

            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">                        
                            <select class="form-control" id="query-selection" name="query-selection">
                                <option value="" name="default" selected>Selecione ou crie uma Query nova</option>
                            </select>                    
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="btn-group float-right mt-1">
                            <button id="data-source-save-query-btn" disabled class="btn btn-outline-secondary mr-1" type="button" data-toggle="tooltip" title="Guardar query">
                                <i class="fa fa-save"></i> 
                            </button>
                            <button id="data-source-new-query-btn" class="btn btn-outline-secondary mr-1" type="button" data-toggle="tooltip" title="Nova query">
                                <i class="fa fa-plus"></i> 
                            </button>
                            <button id="data-source-edit-query-btn" disabled class="btn btn-outline-secondary mr-1" type="button" data-toggle="tooltip" title="Editar query">
                                <i class="fa fa-pencil-alt"></i> 
                            </button>
                            <button id="data-source-delete-query-btn" disabled class="btn btn-outline-danger mr-1" type="button" data-toggle="tooltip" title="Apagar query">
                                <i class="fa fa-trash"></i> 
                            </button>                            
                        </div>
                    </div>
                </div>

                <div id="data-source-new-query-dialog" class="row mb-2" style="display: none;">
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="data-source-new-query-name" placeholder="Nome da Query">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="data-source-new-query-description" placeholder="Descrição da Query">
                        </div>
                    </div>
                    <div class="col-3">
                        <button id="data-source-new-query-save" disabled type="submit" class="btn btn-success"><i class="fa fa-save"></i> Gravar</button>
                        <button id="data-source-new-query-cancel" type="submit" class="btn btn-warning"><i class="fa fa-times"></i> Cancelar</button>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <label for="comment">Query:</label>
                    </div>                    
                    <div class="col"> 
                        <div class="float-right">
                            <button id="data-source-execute-btn" disabled class="btn btn-outline-primary mr-1" type="button" data-toggle="tooltip" title="Execute query">
                                <i class="fa fa-play"></i> 
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <textarea class="form-control" disabled id="data-source-query" name="data-source-query"></textarea>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 ml-2">
                        <div class="form-group row">
                            <label for="data-source-lines" class="col-form-label">Numero de linhas: </label>
                            <div class="col">
                                <input type="number" value="10" class="form-control" id="data-source-lines" aria-describedby="emailHelp">
                            </div>
                        </div>                        
                    </div>

                    <div class="col-4 ml-2">
                        <div class="form-group row">
                            <label for="data-source-lines" class="col-form-label">Campos a usar: </label>
                            <div class="col">
                                <select id="data-source-selected-fields" multiple="multiple">
                                </select>
                            </div>
                        </div> 
                    </div>

                    <div class="col">
                        <div class="btn-group float-right mt-1">
                            <button id="data-source-excel-btn" disabled class="btn btn-outline-success mr-1" type="button" data-toggle="tooltip" title="Exportar tabela visivel para excel">
                                <i class="fa fa-file-excel"></i> 
                            </button>                         
                        </div>
                    </div>
                </div>

                

                <div style="max-width : 100%; overflow-x: auto;">
                    <div id="data-source-table-alert" class="alert alert-info text-center" role="alert">
                        Execute uma query!
                    </div>
                    <div id="data-source-table" style="max-height : 50vh; overflow-y: auto;">
                    </div>                    
                </div>



            </div><!-- /modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                     Cancelar
                </button>
                <button type="button" id="data-source-modal-ok-btn" class="btn btn-primary">
                    <i class="fas fa-tv"></i>
                  Visualização
                </button>
            </div> <!-- /modal-footer -->

        </div> <!-- /modal-content -->
    </div><!-- /modal-dialog -->
</div>