{% load static %}

<!-- LAYOUT SELECTION MODAL -->
<div class="modal" id="layout-selection-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Selecione o Layout</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div><!-- /modal-header -->

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LA1.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LA1">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LA2.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LA2">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LA3.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LA3">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LA4.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LA4">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB1.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB1">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB2.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB2">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB3.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB3">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB4.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB4">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB5.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB5">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB6.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB6">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB7.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB7">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LB8.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LB8">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC1.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC1">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC2.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC2">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC3.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC3">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC4.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC4">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC5.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC5">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC6.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC6">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC7.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC7">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC8.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC8">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC9.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC9">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC10.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC10">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC11.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC11">
                    </div>
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LC12.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LC12">
                    </div>                                                                                
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LD1.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LD1">
                    </div>  
                    <div class="col">
                        <img src="{% static 'dashboards/images/layouts/LD2.png' %}" class="img-fluid rounded m-2 layout-choice" data-id="LD2">
                    </div>          
                </div><!-- /row -->
            </div><!-- /modal-body -->

            <div class="modal-footer">            
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div> <!-- /modal-footer -->

        </div> <!-- /modal-content -->
    </div><!-- /modal-dialog -->
</div>