{% load static %}

<!-- https://jquery.com/download/ -->
<script src="{% static 'dashboards/plugins/jquery-3.6.0/jquery-3.6.0.min.js' %}"></script>
<!-- https://github.com/twbs/bootstrap/tree/v4-dev -->
<script src="{% static 'dashboards/plugins/bootstrap-4.6.0/js/bootstrap.bundle.min.js' %}"></script>
<!-- https://github.com/uuidjs/uuid -->
<script src="{% static 'dashboards/plugins/uuid/uuidv4.min.js' %}"></script>
<!-- https://www.jstree.com/ -->
<script src="{% static 'dashboards/plugins/jstree-3.3.11-0/jstree.min.js' %}"></script>
<!-- http://millermedeiros.github.io/js-signals/ -->
<script src="{% static 'dashboards/plugins/signals/signals.min.js' %}"></script>
<!-- https://github.com/Kilian/gridBuilder.js/blob/master/gridBuilder.js -->
<script src="{% static 'dashboards/plugins/gridBuilder-1.2/gridBuilder.js' %}"></script>
<!-- https://daterangepicker.com/ -->
<script src="{% static 'dashboards/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'dashboards/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- https://github.com/davidstutz/bootstrap-multiselect -->
<script src="{% static 'dashboards/plugins/bootstrap-multiselect-1.1.1/js/bootstrap-multiselect.min.js' %}"></script>

<script src="{% static 'dashboards/plugins/chart.js-3.6.2/chart.min.js' %}"></script>

<script src="{% static 'dashboards/plugins/adminlte/adminlte.min.js' %}"></script>
<script type="module" src="{% static 'dashboards/js/main.js' %}"></script>

<script src="/static/framework/js/main.e53bbf12.js"></script>



<script>
/*
  $(document).ready(function(){    
    $('[data-toggle="tooltip"]').tooltip({
      trigger : 'hover',
    });
    $('[rel="tooltip"]').on('click', function () {
        $(this).tooltip('hide')
    })    
  });
*/

// TO ALLOW MODAL STACKING
(function multiple_modal() {
    $(document).on('show.bs.modal', '.modal', function () {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function () {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });

    $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
})()


$( document ).ready(function() {
    //Add a minus icon to the collapse element that is open by default
  	$('.collapse.show').each(function(){
		$(this).parent().find(".fa").removeClass("fa-plus").addClass("fa-minus");
    });
      
    //Toggle plus/minus icon on show/hide of collapse element
	$('.collapse').on('shown.bs.collapse', function(){
		$(this).parent().find(".fa").removeClass("fa-plus").addClass("fa-minus");
	}).on('hidden.bs.collapse', function(){
		$(this).parent().find(".fa").removeClass("fa-minus").addClass("fa-plus");
	});  
});

</script>
