{% load static %}

<!-- https://jquery.com/download/ -->
<script src="{% static 'dashboards/plugins/jquery-3.6.0/jquery-3.6.0.min.js' %}"></script>
<!-- https://github.com/twbs/bootstrap/tree/v4-dev -->
<script src="{% static 'dashboards/plugins/bootstrap-4.6.0/js/bootstrap.bundle.min.js' %}"></script>
<!-- https://github.com/uuidjs/uuid -->
<script src="{% static 'dashboards/plugins/uuid/uuidv4.min.js' %}"></script>
<!-- https://www.jstree.com/ -->
<script src="{% static 'dashboards/plugins/jstree-3.3.11-0/jstree.min.js' %}"></script>
<!-- http://millermedeiros.github.io/js-signals/ -->
<script src="{% static 'dashboards/plugins/signals/signals.min.js' %}"></script>
<!-- https://github.com/Kilian/gridBuilder.js/blob/master/gridBuilder.js -->
<script src="{% static 'dashboards/plugins/gridBuilder-1.2/gridBuilder.js' %}"></script>
<!-- https://daterangepicker.com/ -->
<script src="{% static 'dashboards/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'dashboards/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- https://github.com/davidstutz/bootstrap-multiselect -->
<script src="{% static 'dashboards/plugins/bootstrap-multiselect-1.1.1/js/bootstrap-multiselect.min.js' %}"></script>

<script src="{% static 'dashboards/plugins/chart.js-3.6.2/chart.min.js' %}"></script>

<script src="{% static 'dashboards/plugins/adminlte/adminlte.js' %}"></script>
<script type="module" src="{% static 'dashboards/js/main.js' %}"></script>

<!-- https://jqueryui.com/ -->
<script src="{% static 'dashboards/plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>

<!-- https://www.datatables.net/ -->
<script type="text/javascript" src="{% static 'dashboards/plugins/datatables/datatables.min.js' %}"></script>

<!-- https://ionic.io/ionicons/ -->
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

<!-- https://momentjs.com/ -->
<script type="text/javascript" src="{% static 'dashboards/plugins/moment-2.29.1/moment.js' %}"></script>

<!-- https://github.com/itsjavi/bootstrap-colorpicker -->
<!--
<script type="text/javascript" src="{% static 'dashboards/plugins/bootstrap-colorpicker-3.2.0/bootstrap-colorpicker.min.js' %}"></script>
-->

<!-- https://getdatepicker.com/ -->
<script src= "{% static 'dashboards/plugins/tempusdominus-bootstrap-5.4/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- https://gitbrent.github.io/bootstrap4-toggle/ -->
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- https://github.com/taozhi8833998/node-sql-parser -->
<script src="https://unpkg.com/node-sql-parser/umd/mysql.umd.js"></script>

<!-- https://jsplumbtoolkit.com/community -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.0.7/jsPlumb.min.js"></script>


<!-- react visualization framework -->
<script src="{% static 'dashboards/framework/js/main.6a07bb12.js' %}"></script>

<!-- https://github.com/SheetJS/sheetjs - to export json to excel / csv -->
<script type="text/javascript" src="{% static 'dashboards/plugins/SheetJS/xlsx.full.min.js' %}"></script> 


<script>

// -------------------------------------------
// TO ALLOW MODAL STACKING
// -------------------------------------------
(function multiple_modal() {
    $(document).on('show.bs.modal', '.modal', function () {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function () {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });

    $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
})()

// -------------------------------------------
// -------------------------------------------
// edit component modal
// -------------------------------------------
// -------------------------------------------
$( document ).ready(function() {
  // -------------------------------------------
  // edit component modal - visualization - collapse
  // -------------------------------------------
  //Add a minus icon to the collapse element that is open by default
  $('.collapse.show').each(function(){
		$(this).parent().find(".fa").removeClass("fa-plus").addClass("fa-minus");
  });
      
  //Toggle plus/minus icon on show/hide of collapse element
	$('.collapse').on('shown.bs.collapse', function(){
		$(this).parent().find(".fa").removeClass("fa-plus").addClass("fa-minus");
	}).on('hidden.bs.collapse', function(){
		$(this).parent().find(".fa").removeClass("fa-minus").addClass("fa-plus");
	});
  
  // -------------------------------------------
  // edit component modal horizontal timeline tab
  // -------------------------------------------
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var href = $(e.target).attr('href');
    var $curr = $(".process-model  a[href='" + href + "']").parent();
    $('.process-model li').removeClass();
    $curr.addClass("active");
  });

  // -------------------------------------------
  // edit component modal - data visualization
  // -------------------------------------------
  $(".img-zoom").hover(function(){		
    $(this).addClass('img-transition');
  }, function(){      
    $(this).removeClass('img-transition');
  });
});

// -------------------------------------------
// ALL HARD-CODED MODALS SHOULD BE DRAGGABLE
// -------------------------------------------
$('.modal').draggable();



// -------------------------------------------
// ENABLE/DISABLE CONSOLE MESSAGES
// -------------------------------------------
$(function(){
  var DEBUG = true;
  if(!DEBUG){
    if(!window.console) window.console = {};
    var methods = ["log", "debug", "warn", "info"];
    for(var i=0;i<methods.length;i++){
        console[methods[i]] = function(){};
    }
  }

});
</script>
