{% load static %}

<!-- https://github.com/twbs/bootstrap/tree/v4-dev -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/plugins/bootstrap-4.6.0/css/bootstrap.min.css' %}">

<!-- https://fontawesome.com/ -->
<link href="{% static 'dashboards/plugins/fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">

<!-- https://www.jstree.com/ -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/plugins/jstree-3.3.11-0/themes/default/style.min.css' %}">

<!-- https://daterangepicker.com/ -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/plugins/daterangepicker/daterangepicker.css' %}">

<!-- https://github.com/davidstutz/bootstrap-multiselect -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/plugins/bootstrap-multiselect-1.1.1/css/bootstrap-multiselect.min.css' %}">

<!-- https://jqueryui.com/ -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">

<!-- https://www.datatables.net/ -->
<link rel="stylesheet" href="{% static 'dashboards/plugins/datatables/datatables.min.css' %}">

<!-- https://ionic.io/ionicons/ -->
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<!-- https://github.com/itsjavi/bootstrap-colorpicker -->
<!--
<link href="{% static 'dashboards/plugins/bootstrap-colorpicker-3.2.0/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
-->

<!-- https://getdatepicker.com/ -->
<link rel="stylesheet" href="{% static 'dashboards/plugins/tempusdominus-bootstrap-5.4/tempusdominus-bootstrap-4.min.css' %}" crossorigin="anonymous" />

<!-- https://gitbrent.github.io/bootstrap4-toggle/ -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'dashboards/plugins/adminlte/adminlte.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/css/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/css/controls.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboards/css/comms.css' %}">
