{% load static %}

    <div class="row">

        <div class="col">
            <div class="btn-group float-left">
                
                <button id="daterange-btn" class="btn btn-outline-secondary daterange non-editable-component" type="button" data-toggle="tooltip" title="Intervalo temporal">
                    <i class="fa fa-calendar-alt"></i>
                    <span id="date-interval"></span>                    
                </button>

                <button type="button" class="btn btn-outline-secondary dropdown-toggle mr-1 non-editable-component" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <ul class="dropdown-menu" id="global-date-format">
                        <li class="dropdown-item global-date-format date-format-selected" data-dateformat="YYYY-MM-DD">YYYY-MM-DD</li>
                        <li class="dropdown-item global-date-format" data-dateformat="YYYY/MM/DD">YYYY/MM/DD</li>
                        <li class="dropdown-item global-date-format" data-dateformat="DD-MM-YYYY">DD-MM-YYYY</li>
                        <li class="dropdown-item global-date-format" data-dateformat="DD/MM/YYYY">DD/MM/YYYY</li>
                    </ul>

                <button id="location-btn" class="btn btn-outline-secondary mr-1 non-editable-component" type="button" data-toggle="tooltip" title="Selecionar localização">
                    <i class="fa fa-map-marked-alt"></i> 
                </button>

                <div class="dropdown">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle non-editable-component" data-toggle="dropdown">
                        <i class="fa fa-print"></i> / <i class="fa fa-file-export"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a id="dash-print" class="dropdown-item" href="javascript:void(0);"><i class="fa fa-print"></i> Imprimir</a>
                      <a id="dash-pdf" class="dropdown-item" href="javascript:void(0);"><i class="fa fa-file-pdf"></i> PDF</a>
                      <a id="dash-image" class="dropdown-item" href="javascript:void(0);"><i class="fa fa-image"></i> Image</a>
                      <div class="dropdown-divider"></div>
                      <a id="dash-excel" class="dropdown-item" href="javascript:void(0);"><i class="fa fa-file-excel"></i> Excel</a>
                    </div>
                </div><!-- /dropdown --> 

            </div>        
        </div>
        

        <div class="col">
            <div class="btn-group float-right">                
                <button id="open-btn" class="btn btn-outline-secondary mr-1 non-editable-component" type="button" data-toggle="tooltip" title="Abrir dashboard">
                    <i class="fa fa-folder-open"></i> 
                </button>            
                <button id="save-btn" class="btn btn-outline-secondary mr-1" type="button" data-toggle="tooltip" title="Guardar">
                    <i class="fa fa-save"></i> 
                </button>
                <button id="snapshot-save-btn" class="btn btn-outline-secondary mr-1 non-editable-component" type="button" data-toggle="tooltip" title="Guardar snapshot">
                    <i class="fa fa-camera"></i> 
                </button>
                <button id="snapshot-select-btn" class="btn btn-outline-secondary mr-1 non-editable-component" type="button" data-toggle="tooltip" title="Abrir snapshot">
                    <i class="fa fa-box-open"></i> 
                </button>                  
                <button id="edit-apply-btn" class="btn btn-outline-success mr-1 editable-component" type="button" data-toggle="tooltip" title="Aplicar alterações">
                    <i class="fa fa-check"></i> 
                </button>                
                <button id="new-btn" class="btn btn-outline-secondary mr-1" type="button" data-toggle="tooltip" title="Novo Dashboard">
                    <i class="fa fa-plus"></i> 
                </button>
                <button id="edit-btn" class="btn btn-outline-secondary mr-1 non-editable-component" type="button" data-toggle="tooltip" title="Editar dashboard">
                    <i class="fa fa-pencil-alt"></i> 
                </button>
                <button id="pin-dash-btn" class="btn btn-outline-secondary mr-1 non-editable-component" type="button" data-toggle="tooltip" title="Pin dashboard">
                    <i class="fa fa-thumbtack"></i> 
                </button>
                <button id="comms-btn" class="btn btn-outline-secondary mr-1 editable-component" type="button" data-toggle="tooltip" title="Comunicações">
                    <i class="fa fa-project-diagram"></i> 
                </button>             
                <button id="swap-btn" class="btn btn-outline-secondary mr-1 editable-component" type="button" data-toggle="tooltip" title="Trocar posições">
                    <i class="fa fa-random"></i> 
                </button>
                <button id="brush-btn" class="btn btn-outline-secondary mr-1 editable-component" type="button" data-toggle="tooltip" title="Copiar/colar opções de formatação">
                    <i class="fa fa-brush"></i> 
                </button>
                <button id="layout-choice-btn" class="btn btn-outline-secondary mr-1 editable-component" type="button" data-toggle="tooltip" title="Escolher novo layout">
                    <i class="fa fa-th"></i> 
                </button>
                <button id="delete-btn" class="btn btn-outline-danger mr-1 editable-component" type="button" data-toggle="tooltip" title="Apagar">
                    <i class="fa fa-trash"></i> 
                </button>
            </div><!-- /btn-group -->

        </div><!-- /col -->
    </div><!-- /row -->

