{% load static %}

<!-- DATA SOURCE MODAL -->
<div class="modal fade" id="zoom-modal" tabindex="-1">
    <div class="modal-dialog zoom-modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">XXX</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- /modal-header -->

            <div class="modal-body">
                sdasd
            </div>
            <!-- /modal-body -->

            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fas fa-times"></i> Cancelar
            </button>
            </div> 
            <!-- /modal-footer -->

        </div> 
      <!-- /modal-content -->
    </div>
    <!-- /modal-dialog -->
</div>
  