{% load i18n %}

<html lang="en">
<head>
 	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

	<title>{% trans 'Dashboards' %}</title>

	{% include 'dashboards/_styles.html' %}
</head>

<body>	
	<br>
	

	<div class="container-fluid">
		


		<ul class="nav nav-tabs dash-edit-tab d-none mb-3" id="dash-edit-tab" role="tablist">
			<li class="nav-item">
			<a class="nav-link active" id="layout-tab" data-toggle="tab" href="#layout-tab-content" role="tab" aria-controls="layout-tab-content"
				aria-selected="true">Layout</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="comms-tab" data-toggle="tab" href="#comms-tab-content" role="tab" aria-controls="comms-tab-content" aria-selected="false">Comunicações</a>
			</li>
		</ul>
		<div class="tab-content" id="xxxxx">
			<div class="tab-pane fade show active" id="layout-tab-content" role="tabpanel" aria-labelledby="layout-tab">
				
				{% include 'dashboards/_top_row.html' %}

				<div id="layout-container"></div>
			</div>

			<div class="tab-pane fade" id="comms-tab-content" role="tabpanel" aria-labelledby="comms-tab">
				<div class="row">

					<div class="col-8 offset-md-2 mb-3">
						<div class="btn-group float-right">                
							<button id="add-link-btn" class="btn btn-outline-primary" type="button" data-toggle="tooltip" title="Adicionar Link">
								<i class="fa fa-plus"></i> 
							</button>
							<button id="remove-all-broken-links-btn" class="btn btn-outline-warning" type="button" data-toggle="tooltip" title="Remover todos os Links quebrados">
								<i class="fa fa-broom"></i> 
							</button>							
							<button id="remove-all-links-btn" class="btn btn-outline-danger" type="button" data-toggle="tooltip" title="Remover todos os Links">
								<i class="fa fa-trash"></i> 
							</button>
						</div><!-- /btn-group -->			
					</div><!-- /col -->

				</div>
				<div class="row">
					<div class="col-8 offset-md-2">
						<div id="comms-container"></div>
					</div>
				</div>				
			</div>
		</div>	
	
	</div>
	<!--
	{% include 'dashboards/_options_sidebar.html' %}
	-->

	<!-- MODALS -->
	<div id="modals-container"></div>

	{% include 'dashboards/modals/_layout_selection_modal.html' %}
	{% include 'dashboards/modals/_edit_component_modal.html' %}	
	{% include 'dashboards/modals/_zoom_modal.html' %}
	{% include 'dashboards/modals/_icons_modal.html' %}
	{% include 'dashboards/modals/_select_component_modal.html' %}
	{% include 'dashboards/modals/_select_dashboard_modal.html' %}
	{% include 'dashboards/modals/_dashboard_properties_modal.html' %}
	{% include 'dashboards/modals/_layout_editor_modal.html' %}

	{% include 'dashboards/_scripts.html' %}
  
   </body>
</html>
