{% load i18n %}

<html lang="en">
<head>
 	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

	<title>{% trans 'Dashboards' %}</title>

	{% include 'dashboards/_styles.html' %}
</head>

<body>	
	<br>
	

	<div class="container-fluid">
		

		
			<div id="layout-tab-content">
				{% include 'dashboards/_top_row.html' %}

				<div id="layout-container"></div>
			</div>

			<div class="d-none" id="comms-tab-content">
				<div class="row">

					<div class="col">
						<div class="btn-group float-left">	
							<button id="comms-text-mode-btn" class="btn btn-outline-secondary disabled" type="button" data-toggle="tooltip" title="Modo Texto">
								<i class="fa fa-font"></i> Modo texto
							</button>
							<button id="comms-graph-mode-btn" class="btn btn-outline-secondary" type="button" data-toggle="tooltip" title="Modo Gráfico">
								<i class="fa fa-cube"></i> Modo Gráfico
							</button>
						</div>        
					</div>


					<div class="col">
						<div class="btn-group float-right">                
							<button id="add-link-btn" class="btn btn-outline-primary" type="button" data-toggle="tooltip" title="Adicionar Link">
								<i class="fa fa-plus"></i> 
							</button>
							<button id="remove-all-broken-links-btn" class="btn btn-outline-warning" type="button" data-toggle="tooltip" title="Remover todos os Links quebrados">
								<i class="fa fa-broom"></i> 
							</button>							
							<button id="remove-all-links-btn" class="btn btn-outline-danger" type="button" data-toggle="tooltip" title="Remover todos os Links">
								<i class="fa fa-trash"></i> 
							</button>
							<button id="exit-comms-btn" class="btn btn-outline-success" type="button" data-toggle="tooltip" title="Remover todos os Links">
								<i class="fa fa-check"></i> 
							</button>							
						</div><!-- /btn-group -->			
					</div><!-- /col -->

				</div>
				<div class="row">
					<div class="col-8 offset-md-2">
						<div id="comms-container"></div>
					</div> <!-- /col -->
				</div> <!-- /row -->				
			</div>

	
	</div>
	<!--
	{% include 'dashboards/_options_sidebar.html' %}
	-->

	<!-- MODALS -->
	<div id="modals-container"></div>

	{% include 'dashboards/modals/_layout_selection_modal.html' %}
	{% include 'dashboards/modals/_edit_component_modal.html' %}	
	{% include 'dashboards/modals/_zoom_modal.html' %}
	{% include 'dashboards/modals/_icons_modal.html' %}
	{% include 'dashboards/modals/_select_component_modal.html' %}
	{% include 'dashboards/modals/_select_dashboard_modal.html' %}
	{% include 'dashboards/modals/_dashboard_properties_modal.html' %}
	{% include 'dashboards/modals/_layout_editor_modal.html' %}

	{% include 'dashboards/_scripts.html' %}
  
   </body>
</html>
