{% load static %}

<!-- DASHBOARD PROPERTIES MODAL -->
<div class="modal" id="dashboard-properties-modal" tabindex="-1"  role="dialog" aria-labelledby="data-source-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Dashboard</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div><!-- /modal-header -->

            <div class="modal-body ">

                <div class="form-group">
                    <label for="dpm-dashboard-name">Nome:</label>
                    <input type="text" class="form-control valid-input" placeholder="Nome do Dashboard" name="dpm-dashboard-name" id="dpm-dashboard-name" required>
                </div>
                <div class="alert alert-danger collapse" id="dpm-name-alert" role="alert">
                    Nome já existente! O nome deve ser unico.
                </div>	  
                <div class="form-group">
                    <label for="dpm-dashboard-description">Descrição:</label>
                    <textarea  class="form-control" placeholder="Descrição do Dashboard" name="dpm-dashboard-description" id="dpm-dashboard-description"></textarea>
                </div>
                <div class="form-group">
                    <label for="dpm-dashboard-title">Titulo:</label>
                    <input type="text" class="form-control" placeholder="Titulo do Dashboard" name="dpm-dashboard-title" id="dpm-dashboard-title">
                </div>                

            </div><!-- /modal-body -->

            <div class="modal-footer">            
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="dpm-save-btn" ><i class="fa fa-save"></i> Gravar e Fechar</button>
            </div> <!-- /modal-footer -->

        </div> <!-- /modal-content -->
    </div><!-- /modal-dialog -->
</div>