{% load static %}

<!-- LAYOUT SELECTION MODAL -->
<div class="modal" id="layout-selection-modal" tabindex="-1"  role="dialog" aria-labelledby="data-source-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Selecione, crie ou apague um Layout</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div><!-- /modal-header -->

            <div class="modal-body ">
                <div class="alert alert-info collapse mx-5 text-center" id="lsm-no-layout-alert" role="alert">
                    Não existem layouts definidos!
                </div> 
                <div class="row" id="lsm-choices">
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{% static 'dashboards/images/layouts/user_defined.png' %}" class="img-fluid rounded m-2 layout-add-new" style="width: 80%;" id="lsm-add-layout">
                    </div>          
                </div>
            </div><!-- /modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-info mr-auto" id="lsm-refresh">
                    <i class="fas fa-sync"></i> Actualizar
                </button>                
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div> <!-- /modal-footer -->

        </div> <!-- /modal-content -->
    </div><!-- /modal-dialog -->
</div>